.page-template-template-home {

  .hero {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    height: auto;
    position: relative;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba($black, .55);
      z-index: 1;
    }

    .hero-content {
      position: relative;
      padding: $jumbotron-padding ($jumbotron-padding /2);
      z-index: 3;
      text-align: center;
      img {
        max-width: 450px;
        height: auto;
        margin-bottom: 15px;
      }
    }
    .hero-copy {
      @include headingStyle;
      p {
        font-size: $font-size-base;
      }
    }
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .page-template-template-home {
    .hero {
      display: flex;
      height: 640px;
      &::after {
        background: none;
        @include gradient-horizontal($start-color: rgba($black, .55), $end-color: transparent, $start-percent: 50%, $end-percent: 50%);
      }
      .hero-inner {
        height: 640px;
        width: 50%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        margin-left: -$jumbotron-padding;
      }
      .hero-content {
        padding: $jumbotron-padding;
        text-align: left;
      }
      .hero-copy {
        p {
          font-size: $jumbotron-font-size;
        }
      }
    }
  }
}
// 768+
