.home-products {

  background-size: contain !important;
  background-position: center bottom !important;
  padding: $section-padding-vertical 0;
  text-align: center;

  $footer-height: 80px;

  .home-product {
    position: relative;
    padding-bottom: $footer-height;
  }
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $footer-height;
  }
  .thumbnail {
    border: none;
    background: transparent;
  }
  h3 {
    color: $white;
    text-align: center;
    @include headingStyle;
    font-size: 21px;
  }

  // need to adjust text for screens below 480
  // in this case it's easier to use max-width
  // than it is to make changes and then reset to
  // defaults at higher BP's
  @media(max-width: $screen-xs) {



      $footer-height: 60px;

      .home-product {
        padding-bottom: $footer-height;
      }
      footer {
        height: $footer-height;
      }
      h3 {
        font-size: $font-size-small;
      }
      .btn {
        font-size: 12px;
      }

  }
  // end 480 and up
}
// end home products

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .home-products {

    background-size: cover !important;
    padding: $section-padding-vertical 0 ($section-padding-vertical/2);

    $footer-height: 60px;

    .home-product {
      padding-bottom: $footer-height;
    }
    footer {
      height: $footer-height;
    }

    .btn {
      font-size: $font-size-small;
    }

  }

} // 768+
