.home-media-grid {
  background: $black;
  color: $white;
  text-align: center;
  padding-top: ($section-padding-vertical/2);

  h3 {
    margin-top: 0;
  }

  .media-grid-item {
    $image_height: 250px;

    @media(max-width: 767px) {
      width: calc(100% - 25px);
      max-width: 350px;
      margin-right: auto;
      margin-left: auto;
      padding: $image_height 0 0;
    }

    .background-helper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $image_height;
      background-size: cover !important;
      background-position: center top !important;
      z-index: 1;
    }

    position: relative;
    + .media-grid-item {
      margin-top: 25px;
    }
    .media-grid-item-content {
      background: $gray;
      padding: 25px;
      position: relative;
      z-index: 2;
    }
    header,
    .item-copy,
    footer {
      position: relative;
    }
    h3 {
      @include headingStyle;
    }
    .item-copy {
      font-size: 16px;
    }
  }
}
// end home media grid

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .home-media-grid {

    padding-top: $section-padding-vertical;

    .media-grid-item {
      padding: 250px 0 0;

      + .media-grid-item {
        margin-top: 0;
      }

      .background-helper {
        background-position: bottom center !important;
        background-size: cover !important;
        height: 100%;
        z-index: 1;
      }

      .btn {
        font-size: $font-size-small;
      }
      &::after {
        display: none;
      }
      .media-grid-item-content {
        background: rgba($black, .6);
        padding: 20px 20px 70px;
        height: 100%;
        z-index: 2;
        footer {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 0;
          padding: 20px;
        }
      }
    }
    .col-sm-8 .media-grid-item-content {
      text-align: left;
    }
  }
} // 768+

