// base styles for heros, page specific styles will be with the respective page template

.hero {
  margin-top: -25px;
  color: $white;
  background-size: cover !important;
  overflow: hidden;
  position: relative;

  .btn {
    @extend .btn-hero;
  }

  .video-wrap {
    display: inline-block;
    position: absolute;
    top: - $navbar-height;
    z-index: 1;
    // center in IE 11
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 432px;
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: rgba($black, .5);
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .video-container {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  video {
    width: auto;
    max-width: unset;
    height: 100%;
    margin: 0 auto;
  }

  .hero-inner {
    position: relative;
    z-index: 3;
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .hero .video-wrap {
    min-height: 650px;
  }

} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .hero .video-wrap {
    min-height: 900px;
  }

} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .hero .video-wrap {
    min-height: 1200px;
  }

} // 1200+

/******************************************************************************
========================> 2000+
*******************************************************************************/

@media(min-width: 2000px) {

  .hero .video-wrap {
    min-height: 1500px;
  }

} // 1200+


