.btn {
  font-weight: bold;
}

.btn-more,
.btn-wtb {
  min-width: 185px;
}

.btn-hero {
  @include button-variant($black, $brand-secondary, transparent);
}
.btn-secondary {
  @include button-variant($black, $brand-secondary, transparent);
  padding-left: 50px;
  padding-right: 50px;
}
.btn-more {
  @include button-variant($black, $brand-secondary, transparent);
}
.btn-wtb {
  @include button-variant($brand-secondary, $black, transparent);
}
.btn-underline {
  color: $black;
  font-weight: bold;
  border: none;
  padding: 5px 0;
  border-bottom: 3px solid $brand-primary;
  @include transition(all, .15s);
  &:hover {
    border-bottom-color: $brand-secondary;
  }
}
