// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

.sr-label {
  label {
    @extend .sr-only;
  }

  .ginput_complex {
    border-left: none;
    padding-left: 0;
    padding-top: 0;
    input,
    select {
      margin-bottom: 25px;
    }
  }
}

.gform_confirmation_wrapper {
  @extend .alert;
  @extend .alert-success;
}

/******************************************************************************
========================> 768+
*******************************************************************************/

