
.yamm {

  // reset positions
  .nav, .collapse, .dropup, .dropdown {
    position: static;
  }

  // propagate menu position under container for fw navbars
  .container {
    position: relative;
  }

  // by default aligns menu to left
  .dropdown-menu {
    //left: auto;
    width: 100%;
  }

  // Content with padding
  .yamm-content {
    padding: 20px 30px;
  }

  // Fullwidth menu
  .dropdown.yamm-fw .dropdown-menu {
    left: 0; right: 0;
  }

}
