.modal {

  .modal-content {
    background: $black;
  }
  .close {
    color: $gray-dark;
    text-shadow: none;
    opacity: 1;
  }
  .modal-header {
    border-bottom-color: $gray-dark;
  }

}

.modal-backdrop.in {
  opacity: .6;
}
