/* Social Media */
.social-nav {

  .nav {
    margin: 0 auto;
    text-align: center;
    min-height: 37px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  li {
    display: inline-block;
    padding: 0 5px;
    height: 37px;

    a {
      width: 25px;
      height: 25px;
      &::before,
      &::after {
        display: inline-block;
        top: 5px;
        vertical-align: middle;
        font-family: FontAwesome;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      // switched font sizes from em to pixels - IE11 ignores
      // em and % font sizes on pseudo elements that have multiple
      // styles applied.
      // see: https://connect.microsoft.com/IE/feedback/details/813398/ie-11-css-before-with-font-size-in-em-units-ignores-css-precedence-rules
      &::before {
        content: '\f0c0';
        color: $white;
        z-index: 2;
        @extend .fa-stack-1x;
        // slight size bump
        font-size: 14px;
      }
      &::after {
        content: '\f111';
        color: $white;
        z-index: 1;
        @extend .fa-stack-2x;
        font-size: 28px;
      }
    }
    // end a
  }
  // end li

}

// end social
// networks

// ** dap canada
.social-nav li.canada {
  position: relative;
  display: block;

  a[href*="canada.dap.com"] {
    padding-left: 32px;
    margin-left: 5px;
    width: auto;
    &::before,
    &::after {
      max-width: 25px;
      max-height: 25px;
      width: 100%;
      height: 100%;
    }
    &::before {
      content: "";
      background: url("../images/canada.png") no-repeat center;
      background-size: cover;
      border-radius: 50%;
      top: 5px;
    }

    .sr-only {
      position: relative;
      width: auto;
      height: auto;
      margin: auto;
      overflow: visible;
      clip: auto;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .social-nav {

    li {
      a {
        &::before,
        &::after {
          top: 5px;
        }
      }
    }

    li.canada {
      padding-left: 15px;
      &::before {
        content: "";
        width: 2px;
        height: 15px;
        left: 5px;
        background: $white;
        display: inline-block;
        top: 11px;
        position: absolute;
      }
      a[href*="canada.dap.com"] {

      }
    }

  }

} // 768+

/******************************************************************************
========================> Brand Icons
*******************************************************************************/

.social-nav li a[href*="facebook.com"]::before {
  content: '\f09a';
}

.social-nav li a[href*="twitter.com"]::before {
  content: '\f099';
}

.social-nav li a[href*="dribbble.com"]::before {
  content: '\f17d';
}

.social-nav li a[href*="plus.google.com"]::before {
  content: '\f0d5';
}

.social-nav li a[href*="pinterest.com"]::before {
  content: '\f0d2';
}

.social-nav li a[href*="github.com"]::before {
  content: '\f09b';
}

.social-nav li a[href*="tumblr.com"]::before {
  content: '\f174';
}

.social-nav li a[href*="youtube.com"]::before {
  content: '\f16a';
}

.social-nav li a[href*="flickr.com"]::before {
  content: '\f16e';
}

.social-nav li a[href*="vimeo.com"]::before {
  content: '\f27d';
}

.social-nav li a[href*="instagram.com"]::before {
  content: '\f16d';
}

.social-nav li a[href*="linkedin.com"]::before {
  content: '\f0e1';
}

.social-nav li a[href*="codepen"]::before {
  content: '\f1cb';
}

.social-nav li a[href*="wordpress.org"]::before {
  content: '\f19a';
}

.social-nav li a[href*="feedburner.com"]::before {
  content: '\f143';
}

/******************************************************************************
========================> Social Brand Colors
*******************************************************************************/
// @url https://github.com/Ferrmolina/SASS-Social-Brand-Colors/blob/master/demo/css/styles.scss

/* Social / Branding Vars HEX*/
$adobe: #ff0000;
$alphabet: #ed1c24;
$amazon: #ff9700;
$android: #a4c639;
$angularjs: #b52e31;
$aol: #ff0b00;
$apple: #737373;
$archlinux: #1793d1;
$behance: #1769ff;
$bing: #ffb900;
$blogger: #f57d00;
$coke: #ed1c16;
$digitalocean: #008bcf;
$disqus: #2e9fff;
$dribbble: #ea4c89;
$dropbox: #007ee5;
$drupal: #0077c0;
$ebay: #083790;
$envato: #82b541;
$evernote: #7ac142;
$facebook: #3b5998;
$flickr: #ff0084;
$flipboard: #e12828;
$forrst: #5b9a68;
$foursquare: #0072b1;
$github: #333333;
$godaddy: #7db701;
$google_1: #4285f4;
$google_2: #34a853;
$google_3: #fbbc05;
$google_4: #ea4335;
$googleplus: #dd4b39;
$gravatar: #1e8cbe;
$hsbc: #db0011;
$html5: #e34f26;
$ibm: #006699;
$imgur: #85bf25;
$instagram: #125688;
$intel: #0f7dc2;
$jquery: #0769ad;
$lastfm: #d51007;
$linkedin: #007bb5;
$mailchimp: #449a88;
$mcdonalds: #bf0c0c;
$mercadolibre: #ffe600;
$microsoftoffice: #ea3e23;
$netflix: #e50914;
$npm: #cb3837;
$nvidia: #76b900;
$opera: #cc0f16;
$oracle: #ff0000;
$paypal: #009cde;
$php: #8892be;
$pinterest: #cb2027;
$prezi: #318bff;
$quora: #a82400;
$reddit: #cee3f8;
$ruby: #cc342d;
$skype: #00acf4;
$snapchat: #fffc00;
$spotify: #2ebd59;
$stackoverflow: #fe7a15;
$starbucks: #00704a;
$strumbleupon: #eb4924;
$subway: #00543d;
$telegram: #0088cc;
$tesla: #cc0000;
$tmobile: #e20074;
$tumblr: #32506d;
$twitter: #00aced;
$typekit: #98ce1e;
$ubuntu: #dd4814;
$vimeo: #162221;
$vine: #00bf8f;
$vk: #45668e;
$vodafone: #e60000;
$whatsapp: #43d854;
$windows: #00bcf2;
$wordpress: #21759b;
$xbox: #52b043;
$yahoo: #410093;
$yandex: #ffcc00;
$youtube: #bb0000;
$zendesk: #78a300;

$colorMap: (
  adobe: $adobe,
  alphabet: $alphabet,
  amazon: $amazon,
  android: $android,
  angularjs: $angularjs,
  aol: $aol,
  apple: $apple,
  archlinux: $archlinux,
  behance: $behance,
  bing: $bing,
  blogger: $blogger,
  coke: $coke,
  digitalocean: $digitalocean,
  disqus: $disqus,
  dribbble: $dribbble,
  dropbox: $dropbox,
  drupal: $drupal,
  ebay: $ebay,
  envato: $envato,
  evernote: $evernote,
  facebook: $facebook,
  flickr: $flickr,
  flipboard: $flipboard,
  forrst: $forrst,
  foursquare: $foursquare,
  github: $github,
  godaddy: $godaddy,
  google_1: $google_1,
  google_2: $google_2,
  google_3: $google_3,
  google_4: $google_4,
  googleplus: $googleplus,
  gravatar: $gravatar,
  hsbc: $hsbc,
  html5: $html5,
  ibm: $ibm,
  imgur: $imgur,
  instagram: $instagram,
  intel: $intel,
  jquery: $jquery,
  lastfm: $lastfm,
  linkedin: $linkedin,
  mailchimp: $mailchimp,
  mcdonalds: $mcdonalds,
  mercadolibre: $mercadolibre,
  microsoftoffice: $microsoftoffice,
  netflix: $netflix,
  npm: $npm,
  nvidia: $nvidia,
  opera: $opera,
  oracle: $oracle,
  paypal: $paypal,
  php: $php,
  pinterest: $pinterest,
  prezi: $prezi,
  quora: $quora,
  reddit: $reddit,
  ruby: $ruby,
  skype: $skype,
  snapchat: $snapchat,
  spotify: $spotify,
  stackoverflow: $stackoverflow,
  starbucks: $starbucks,
  strumbleupon: $strumbleupon,
  subway: $subway,
  telegram: $telegram,
  tesla: $tesla,
  tmobile: $tmobile,
  tumblr: $tumblr,
  twitter: $twitter,
  typekit: $typekit,
  ubuntu: $ubuntu,
  vimeo: $vimeo,
  vine: $vine,
  vk: $vk,
  vodafone: $vodafone,
  whatsapp: $whatsapp,
  windows: $windows,
  wordpress: $wordpress,
  xbox: $xbox,
  yahoo: $yahoo,
  yandex: $yandex,
  youtube: $youtube,
  zendesk: $zendesk
);

@each $className, $classValue in $colorMap {
  .#{$className} {
    color: $classValue;
  }
}

/* End Social Media */

.social-nav li a[href*="facebook.com"]::after {
  color: $facebook;
}

.social-nav li a[href*="twitter.com"]::after {
  color: $twitter;
}

.social-nav li a[href*="dribbble.com"]::after {
  color: $dribbble;
}

.social-nav li a[href*="plus.google.com"]::after {
  color: $googleplus;
}

.social-nav li a[href*="pinterest.com"]::after {
  color: $pinterest;
}

.social-nav li a[href*="github.com"]::after {
  color: $github;
}

.social-nav li a[href*="tumblr.com"]::after {
  color: $tumblr;
}

.social-nav li a[href*="youtube.com"]::after {
  color: $youtube;
}

.social-nav li a[href*="flickr.com"]::after {
  color: $flickr;
}

.social-nav li a[href*="vimeo.com"]::after {
  color: $vimeo;
}

.social-nav li a[href*="instagram.com"]::after {
  color: $instagram;
}

.social-nav li a[href*="linkedin.com"]::after {
  color: $instagram;
}

.social-nav li a[href*="codepen"]::after {
  color: $facebook;
}

.social-nav li a[href*="wordpress.org"]::after {
  color: $wordpress;
}

.social-nav li a[href*="feedburner.com"]::after {
  color: $white;
}
