@mixin thinHeading() {
  font-family: $font-family-sans-serif;
  font-weight: 200;
}

@mixin headingStyle() {
  text-transform: uppercase;
  font-style: oblique;
  font-stretch: condensed;
  font-weight: 700;
}

@mixin headingLine() {
  &::after {
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: $brand-primary;
    margin-top: 20px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.btn {
  text-transform: uppercase;
}

.page-header {
  margin: 25px 0;
  padding-bottom: 25px;
  border-bottom: none;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/****** Breadcrumbs ******/

.breadcrumb {
  background: transparent;
  margin: 30px 0;
  a {
    color: $white;
  }
}

/****** Benefits ******/
.product-benefits {

  ul {
    margin-bottom: 0;
  }
  li {
    display: inline-block;
  }
  img {
    width: 75px;
    margin: 0 auto;
    display: inline-block;
  }
  p {
    display: none;
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .product-benefits {
    li {
      display: block;
    }
    p {
      color: $white;
      font-size: 12px;
      text-transform: uppercase;
      font-weight: bold;
      display: inline-block;
    }
  }


} // 768+
