.content-info {

  background: $black;

  .upper-footer {
    padding: 50px 0;
    // global brand
    .footer-brand {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;
      }
    }
    // primary brand
    .footer-brand-primary {
      border-top: 1px solid $brand-secondary;
      padding-top: 50px;
      img {
        width: 330px;
      }
    }
    // prod nav
    .product-nav {
      text-align: center;
      margin-top: 45px;
      li {
        display: block;
        float: none;
        + li::before {
          content: "";
          width: 50px;
          height: 3px;
          background: $brand-secondary;
          display: block;
          margin: 0 auto;
        }
        &.active a {
          background-color: transparent;
          color: $brand-primary;
        }
        a {
          color: $white;
          text-transform: uppercase;
          font-weight: bold;
          padding: 15px;
          &:hover {
            background: transparent;
            color: $brand-primary;
          }
        }
      }
    }
    // secondary brand
    .footer-brand-secondary {
      margin-top: 50px;
      img {
        width: 200px;
      }
    }
  }
  // lower footer
  .lower-footer {
    background: $brand-secondary;
    padding: 5px 0;

    .footer-nav {
      position: relative;
      overflow: hidden;
      .nav {
        text-align: center;
        li {
          position: relative;
          display: inline-block;
          text-align: center;
        }
        a {
          color: $black;
          font-size: 12px;
          padding: 5px;
          text-transform: uppercase;
          &:hover,
          &:active {
            background: transparent;
            color: $brand-primary;
          }
        }
      }
    }
    .copyright {
      display: block;
      text-align: center;
      p {
        margin-bottom: 0;
      }
      small {
        font-size: 12px;
      }
    }
  }
}
/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .content-info {
    .upper-footer {
      .product-nav {
        text-align: center;
        ul {
          margin-left: auto;
          margin-right: auto;
        }
        li {
          display: inline-block;
          position: relative;
          + li {
            &::before {
              width: 3px;
              height: 10px;
              position: absolute;
              left: 0;
              top: 50%;
              margin-top: -5px;
            }
          }
        }
      }

    }
  }
} // 768+


/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .content-info {
    .upper-footer {

      .container {
        border-top: 1px solid $brand-secondary;
      }


      .footer-brand-primary {
        border-top: none;
        width: 250px;
      }
      .footer-brand-secondary {
        width: 200px;
      }
      .container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;
      }
      .product-nav {
        flex-grow: 1;
        li {
          + li {
            // weird hack
            margin-left: -5px;
          }
        }
        a {
          font-size: 14px;
        }
      }
    }
    .lower-footer {
      .container {
        .footer-nav {
          float: left;
        }
        .copyright {
          float: right;
        }
      }
    }
  }
} // 1200+
