header.navbar {

  $header-collapse-vertical-padding: 10px;
  $header-collapse-height: (70px + $header-collapse-vertical-padding);
  $navbar-toggle-padding: 15px;

  min-height: $header-collapse-height;

  nav {
    box-shadow: none;
  }

  .main-nav {
    border-top: 1px solid $brand-secondary;
  }

  .burger {
    border-right: 1px solid $brand-secondary;
    padding-top: ($header-collapse-vertical-padding - $navbar-toggle-padding);
    padding-bottom: ($header-collapse-vertical-padding - $navbar-toggle-padding);
    display: flex;

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $white;
      .navbar-toggle-text {
        order: 2;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 10px;
      }
      .icon-bar {
        order: 1;
        height: 1px;
        width: 100%;
        + .icon-bar {
          margin-top: 10px;
        }
      }
    }
  }

  .navbar-toggle {
    float: left;
    margin: 0 auto;
    text-align: center;
    padding: $navbar-toggle-padding ($navbar-toggle-padding / 2);
  }

  .navbar-brand {
    padding: $header-collapse-vertical-padding 5px;
    max-width: 250px;
    height: $header-collapse-height;
    display: flex;
    a {
      height: 100%;
      padding-left: 0;
    }
    img {
      max-width: 100%;
      height: auto;
      align-self: center;
    }
  }

  #menu-main {

    margin-top: 10px;
    margin-bottom: 10px;

    li {
      $anchor-padding: 10px;
      $list-padding: ($navbar-padding-vertical - $anchor-padding);
      padding-top: 10px;
      padding-bottom: 10px;
      + li {
        border-top: 1px solid $white;
      }
      &:last-child {
        border-bottom: 1px solid $white;
      }
      a {
        padding-top: $anchor-padding;
        padding-bottom: $anchor-padding;
        text-transform: uppercase;
      }
      &.active a {
        //border-bottom: 1px solid $brand-secondary;
        color: rgba($white, .8);
      }
    }

    li.highlight {
      a {
        border: 1px solid $brand-secondary;
        display: inline-block;
        margin-left: 15px;
      }
    }

    li.dropdown {
      //position: relative;
      .caret {
        border: none;
        position: absolute;
        right: 30px;
        top: 50%;
        margin-top: -6px;
        @extend .fa;
        @extend .fa-plus;
        color: $brand-secondary;
        font-size: 14px;
      }
      &.open .caret {
        @extend .fa-minus;
      }
    }

    .dropdown-menu {
      background: $navbar-inverse-bg;
      .yamm-content {
        padding-bottom: 0;
      }
    }

    // image dropdown base setup
    .menu-products {
      li {

        text-align: left;
        + li {
          border-top: 1px solid $white;
        }
        a {
          font-size: $font-size-base;
          text-transform: none;
          font-stretch: condensed;
          font-weight: 700;
          position: relative;
          color: $white;
          display: inline-block;
          height: 100%;
          width: 100%;
          &::before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin-right: 15px;
            width: 80px;
            height: 115px;
            background-size: contain !important;
            background-position: center bottom;
          }
        }
      }
    }
  }
  .social-wrap {
    .social-nav.in {
      margin: 15px 0;
    }
    .social-nav li a {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  header.navbar {
    // social nav position is based on padding amount
    $social: 50px;
    position: relative;
    padding-top: $social;
    // pseudo border
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 1px;
      top: ($social - 5px);
      left: 0;
      background: $brand-secondary;
    }
    .burger {
      display: none;
    }
    .social-wrap {
      position: absolute;
      width: $container-sm;
      top: 0;
      right: 50%;
      margin-right: -($container-sm/2);
      padding-right: 15px;
    }
    #menu-social {
      height: $social;
    }
    .navbar-header {
      max-width: 180px;
    }
    .main-nav {
      border-top: none;
    }

    #menu-main {
      li {
        padding-top: 15px;
        padding-bottom: 15px;

        + li {
          border-top: none;
        }
        &:last-child {
          border-bottom: none;
        }

        a {
          font-size: $font-size-small;
          padding: 0 10px;
        }
      }
      li.dropdown {
        > a {
          padding-right: 15px;
        }
        .caret {
          right: 10px;
          font-size: 10px;
        }
      }

      .dropdown-menu {
        .yamm-content {
          border-bottom: none;
          padding-top: 0;
          .row {
            border-top: 1px solid $brand-secondary;
            border-bottom: 1px solid $brand-secondary;
          }
        }
      }

      .menu-products {

        .dropdown-menu,
        .yamm-content {
          padding-bottom: 0;
        }

        li {
          text-align: center;
          padding-top: 15px;
          padding-bottom: 15px;

          + li {
            border-top: none;
          }

          a {
            width: 215px;
            height: 175px;
            border: 1px solid transparent;
            @include headingStyle();
            &::before {
              border: none;
              display: block;
              margin: 0 auto 10px;
            }
            &:hover,
            &:active {
              border: 1px solid $gray;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
// 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  header.navbar {
    .navbar-header {
      max-width: 100%;
      width: 300px;
      &::before,
      &::after {
        display: none;
      }
      .navbar-brand {
        margin-left: 0;
        min-height: 97px;
        max-width: 100%;
        padding: 0;
      }
    }
    .social-wrap {
      width: $container-md;
      right: 50%;
      margin-right: -($container-md/2);
    }
    #menu-main {
      margin-top: 15px;
      margin-bottom: 15px;
      > li {
        &:last-child {
          padding-right: 0;
        }

        a {
          padding: 0 15px;
        }
      }
    }
  }

} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  header.navbar {

    .social-wrap {
      width: $screen-lg;
      margin-right: -($screen-lg/2);
      padding-right: 30px;
    }

    #menu-main {
      > li {
        padding-left: 10px;
        padding-right: 10px;
      }
    }

  }

} // 1200+

