/**********************************
=======> Press
***********************************/
.technical-data {

  .page-header {
    border-bottom: none;
    margin-top: 25px;
  }

  .product-header {
    margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    color: $white;
    padding: 10px 0;
    font-size: $font-size-h3;
    @include headingStyle();
  }
  h3 {
    margin-top: 0;
    a {
      color: $black;
      @include headingStyle();
      font-size: 16px;
    }
  }

  .product-list {
    > li {
      padding: 20px 0;
      + li {
        border-top: 1px solid $black;
      }
    }
  }

  .sku-list {
    font-size: 14px;
  }

  .product-list-item {
    clear: both;
  }

  .data-sheet-list {
    display: inline-block;
    width: 48%;
    a {
      color: $black;
      font-size: 14px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .fa-file-pdf-o {
    vertical-align: middle;
    &::before {
      content: "";
      background: url("../images/pdf-icon@2x.png") no-repeat center;
      display: block;
      width: 30px;
      height: 30px;
    }
  }
}

// end SDS TDB
/**********************************
=======> Press
***********************************/

.post-type-archive-press {

  main {
    margin-bottom: 50px;
  }

  article {
    + article {
      margin-top: 50px;
    }
    .thumbnail-image {
      width: 200px;
      height: 200px;
      padding: 10px;
      border: 1px solid $gray;
      display: flex;
      justify-content: center;
      align-content: center;
      img {
        align-self: center;
      }
    }
  }
  h2 {
    font-size: $font-size-h3;
  }
}

/**********************************
=======> FAQs
***********************************/

.page-template-template-faqs {

  .page-header {
    padding: 0;
  }

  .faq-nav-header {
    background: $black;
    padding: 10px 15px;
    h3 {
      font-size: $font-size-base;
      text-transform: uppercase;
      color: $brand-secondary;
      @include headingStyle();
      padding: 0;
      margin: 0;
    }
  }
  // faq nav header
  .faq-nav {
    border-bottom: 1px solid lighten($gray-light, 25%);
    li {
      a {
        color: $black;
        text-transform: uppercase;
        font-weight: 200;
        font-stretch: condensed;
        font-size: 16px;
        @include headingStyle();
      }
      &.active {
        a {
          color: $white;
          background-color: $gray-light;
        }
      }
    }
  }
  // faq nav

  .faq-tab-content {
    margin-top: 25px;

    .faq-panel-group-title {
      $block_size: 15px;
      position: relative;
      padding-left: ($block_size + 5px);
      @include headingStyle();
      &::before {
        content: "";
        width: $block_size;
        height: $block_size;
        display: block;
        background-color: $gray-darker;
        position: absolute;
        left: 0;
        top: 5px;
      }
    }
    .faq-panel-group {
      margin-bottom: 75px;
    }
    .faq-panel {
      .panel-title {
        a {
          display: block;
          font-size: 16px;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
          position: relative;
          padding-left: 20px;
          &::before {
            font-family: FontAwesome;
            font-size: 14px;
            content: "\f068";
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            left: 0;
            top: 3px;
            color: lighten($gray-light, 25%);
          }
          &.collapsed {
            &::before {
              content: "\f067";
            }
          }
        }
      }
      .panel-body {
        padding-left: 32px;
      }
    }
  }
}

/**********************************
=======> Contact
***********************************/
.page.contact {
  .wrap {
    overflow-x: hidden;
  }
  .main {
    margin-bottom: 25px;
  }

  form {
    margin-top: 40px;
  }

  input[type="submit"] {
    @extend .btn-secondary;
  }

  // ie 10
  select::-ms-expand {
    display: none;
  }

  .gform_footer {
    text-align: center;
  }

  .gform_wrapper {

    li {
      margin-bottom: 25px;
    }

    .address {
      margin-bottom: 0;
      span {
        margin-bottom: 25px;
        display: block;
      }
      .address_state {
        position: relative;
        select {
          z-index: 2;
          position: relative;
          background: transparent;
          margin-bottom: 0;
        }
      }
    }

    .ginput_container_radio {
      ul {
        padding-top: 5px;
      }
      li {
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-right: 25px;
      }
    }
      .ginput_container_select,
      .address_state {
        position: relative;
        &::after {
          content: "\f0d7";
          font-family: FontAwesome;
          display: block;
          position: absolute;
          right: 10px;
          top: 50%;
          margin-top: -8px;
          z-index: 1;
        }
        select {
          position: relative;
          z-index: 2;
          background: transparent;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
        }
      }

    // end inquiry

    .ginput_recaptcha {
      text-align: center;
      div {
        margin: 0 auto;
      }
    }

  }
  // end form wrap
}

.error404 {

  .page-header {
    @extend .sr-only;
  }

  .wrap {
    max-width: $container-sm;
    margin: 0 auto;
  }

  .main {
    padding: 50px 0;
  }

}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  /**********************************
  =======> SDS/TDB/tech Data
  ***********************************/
  .technical-data {

    .data-sheets {
      max-width: $small-container;
      margin-right: auto;
      margin-left: auto;
    }

    .product-list-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .product-header {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }

    h2,
    .product-list {
      padding-left: 15px;
      padding-right: 15px;
    }

    h3 {
      width: 100%;
    }
    .sku-list,
    .data-sheet-list {
      width: 33.33%;
    }
    .sds-list {
      text-align: center;
    }
    .tdb-list {
      text-align: right;
    }
  }
  // end sds tdb
  /**********************************
  =======> Press
  ***********************************/
  .post-type-archive-press {

    article {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .thumbnail-image {
        margin-right: 35px;
      }
      .entry-content {
        flex: 1;
      }
      h2 {
        margin-top: 0;
      }
    }
  }
  // end press

  /**********************************
  =======> FAQs
  ***********************************/
  .page-template-template-faqs {
    .faq-nav {
      border-bottom: none;
      border-right: 1px solid lighten($gray-light, 25%);
    }
    .faq-tab-content,
    .faqs:first-of-type h4 {
      margin-top: 0;
    }
  }

  /**********************************
  =======> Contact
  ***********************************/

  .page.contact {

    .main {
      margin-bottom: 25px;
    }

    .gform_wrapper {

      $form_gutter: 20px;
      $form_padding: ($form_gutter / 2);
      $form_offset: $form_padding;

      .gform_fields {
        display: flex;
        flex-wrap: wrap;
        margin-left: -$form_offset;
        margin-right: -$form_offset;

        .gfield {
          width: 100%;
          padding-left: $form_padding;
          padding-right: $form_padding;
        }

        .half {
          width: 50%;
        }

        // name fields
        .ginput_container_name {
          display: flex;
          flex-wrap: wrap;
          margin-left: -$form_offset;
          margin-right: -$form_offset;
          span {
            width: 50%;
            padding: 0 $form_padding;
          }
          input {
            margin-bottom: 0;
          }
        }

      }
      // address fields
      .address {
        .address_state {
          label {
            top: 2px;
            left: 20px;
          }
          &::after {
            top: 18px;
            right: 22px;
          }
        }

        // layout
        .ginput_container_address {

          display: flex;
          flex-wrap: wrap;
          margin-left: -$form_offset;
          margin-right: -$form_offset;
          span {
            width: 100%;
            padding-left: $form_padding;
            padding-right: $form_padding;
            margin-bottom: 0;
          }
          .address_city {
            width: 50%;
          }
          .address_state {
            width: 15%;
          }
          .address_zip {
            width: 35%;
          }
        }
      }
      // end address

      .ginput_recaptcha {
        text-align: right;
        div {
          margin: 0 0 0 auto;
        }
      }

      .gform_footer {
        text-align: right;
      }

    }
    // end form wrapper
  }


}

// 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  /**********************************
  =======> Press
  ***********************************/
  .post-type-archive-press {

  }
  // end press

  .page-template-template-faqs {
    .faq-tab-content {
      padding-left: 50px;
    }
  }

}

// 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  /**********************************
  =======> Press
  ***********************************/
  .post-type-archive-press {
    article {
      + article {
        // reset top margin
        margin-top: 0;
      }
      // margin top to all except the first 2 (top row)
      &:nth-child(1n + 3) {
        margin-top: 100px;
      }
    }
  }
  // end press
  /**********************************
  =======> Contact
  ***********************************/
  .page.contact {
    .page-content {
      max-width: $small-container;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
// 992+
