.single-products {

  /**********************************
  =======> Hero
  ***********************************/

  header.navbar {
    margin-bottom: 0;
  }

  header.jumbotron {
    background: $black url("../images/product-bg-default.jpg") center bottom repeat-x;
    background-size: contain;
    overflow-x: hidden;
  }

  $slide-size: 275px;

  .product-slider {
    .thumbnail-image {
      border: 1px solid $white;
      background: $black;
      width: $slide-size;
      height: $slide-size;
      margin: 0 auto;
      img {
        max-height: 100%;
        margin: 0 auto;
      }
    }
  }

  .product-slider-thumbnails {
    max-width: $slide-size;
    margin: 0 auto;
    .slick-slide {
      &:focus {
        outline: none;
        img {
          border-color: $brand-secondary;
        }
      }
      img {
        border: 1px solid $white;
        background: $black;
      }
    }
  }

  .product-branding {
    h1 {
      color: $white;
      @include headingStyle();
      font-size: $font-size-h1;
      padding: 10px;
    }
  }

  .product-video {
    $iconSize: 40px;
    position: relative;
    text-align: center;
      &::after {
        font-family: FontAwesome;
        content: "\f01d";
        color: $white;
        display: block;
        width: $iconSize;
        height: $iconSize;
        font-size: $iconSize;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -($iconSize/2);
        margin-left: -($iconSize/2);
        line-height: normal;
        z-index: 2;
    img {
      position: relative;
      z-index: 1;
      }
    }
  }

  .product-benefits {
    border-top: 1px solid $brand-primary;
    padding-top: 10px;
    margin-top: 10px;
  }

  /**********************************
  =======> Tabs
  ***********************************/

  .product-nav-tabs,
  .product-tab-content {
    margin-bottom: 25px;
  }

  .product-nav-tabs {

    display: flex;
    flex-wrap: wrap;

    > li {
      > a {
        color: $black;
        font-size: 12px;
        text-transform: uppercase;
        &:hover,
        &:active {
          background: transparent;
          border-color: transparent;
          color: $brand-primary;
        }
      }
    }

    > li.active {
      > a {
        border: none;
        background: $black;
        color: $brand-secondary;
      }
    }
  }
  // navtabs

  /**********************************
  =======> Tab Content
  ***********************************/

  /****** Overview ******/
  #overview {

    ul {
      padding-left: 20px;
    }

    .thumbnail-image img {
      max-width: 100%;
      width: 150px;
      height: auto;
    }
  }

  /****** Specs ******/
  .product-specs {

    margin-bottom: 50px;

    h3 {
      @include headingLine();
      font-size: 20px;
      margin-bottom: 20px;
    }
    ul {
      padding-left: 20px;
      ul {
        list-style-type: square;
      }
    }
  }

  .manufacturer-recommendations {
    h3 {
      background: $black;
      color: $brand-secondary;
      padding: 5px 10px 10px;
      &::after {
        display: none;
      }
    }
  }

  .colors {
    ul {
      padding-left: 0;
    }
    li {
      text-align: center;
    }
    span {
      width: 50px;
      height: 50px;
      border: 1px solid $black;
      border-radius: 50%;
      display: block;
      margin: 0 auto 10px;
    }
    p {
      font-size: $font-size-small;
    }
  }

  /****** SKU details Table ******/
  #sku-details {
    thead {
      background: $black;
      color: $white;
    }
  }

  /****** SDS / TDB Table ******/
  #sdstdb {
    thead {
      background: $black;
      color: $white;
    }

    table td {
      vertical-align: middle;
    }

    p {
      margin: 0;
    }

    .fa-file-pdf-o {
      vertical-align: middle;
      &::before {
        content: "";
        background: url("../images/pdf-icon@2x.png") no-repeat center;
        display: block;
        width: 30px;
        height: 30px;
      }
    }

  }

  // responsive table hack for Firefox
  // see: http://getbootstrap.com/css/#callout-tables-responsive-ff-fieldset
  @-moz-document url-prefix() {
    fieldset { display: table-cell; }
  }

}


/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .single-products {
    .product-header {
      margin-right: -90000px;
      padding-right: 90000px;
    }
    h1 {
      margin-top: 0;
    }

    $slide-size: 325px;

    .product-slider {
      .thumbnail-image {
        width: $slide-size;
        height: $slide-size;
      }
    }
    .product-slider-thumbnails {
      max-width: $slide-size;
    }

    /**********************************
    =======> Tabs
    ***********************************/

    .product-nav-tabs {
      border-bottom: 3px solid $black;

      > li {
        margin-bottom: -2px;
      }

    }

  }
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .single-products {

    $slide-size: 450px;

    .product-slider {
      .thumbnail-image {
        width: $slide-size;
        height: $slide-size;
      }
    }
    .product-slider-thumbnails {
      max-width: $slide-size;
    }

    /**********************************
    =======> Nav Tabs
    ***********************************/

    .product-nav-tabs {
      li a {
        font-size: $font-size-base;
      }
    }

  }

} // 992+

/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .single-products {
    $slide-size: 500px;

    .product-slider {
      .thumbnail-image {
        width: $slide-size;
        height: $slide-size;
      }
    }
    .product-slider-thumbnails {
      max-width: $slide-size;
    }
  }

} // 1200+
