.page-template-template-categories {

  header.navbar {
    margin-bottom: 0;
  }

  /****** Hero ******/
  .hero {
    background-size: cover !important;
    background-position: center center;
    margin-bottom: 0;
    width: 100%;
    margin-top: 0;
  }
  .hero-inner {
    background: rgba($black, .55);
    padding: 15px;
    max-width: 480px;
    margin: 0 auto;
  }
  .hero-content {
    text-align: center;
    h2 {
      @include headingStyle();
    }
    .hero-copy p {
      font-size: 20px;
    }
  }

  /****** Category Intro ******/
  .category-intro {

    background-position: bottom center !important;
    background-size: contain !important;
    background-color: $black !important;
    background-repeat: no-repeat !important;
    padding: 25px 0;

    .category-image {
      width: 275px;
      height: 275px;
      border: 1px solid $gray-light;
      background: $black;
      padding: 15px;
      margin: 0 auto;
      img {
        max-height: 100%;
        margin: 0 auto;
      }
    }
    .category-header {
      padding: 5px;
      margin: 25px 0;
      h1 {
        color: $white;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        font-size: $font-size-h2;
        @include headingStyle();
      }
    }
    .category-content {
      color: $white;
    }
  }

  /****** Product List ******/
  .product-list {

    .products-list-header {
      border-bottom: 1px solid $gray-light;
      padding-bottom: 10px;
      margin-bottom: 25px;
    }

    h2 {
      font-weight: 200;
      @include headingStyle();
    }
  }

  .product {

    .row {
      display: flex;
      flex-direction: column;
    }

    .product-image {
      order: 2;
    }
    .product-info {
      order: 1;
    }
    .product-sizes {
      order: 3;
    }
    .product-links {
      order: 5;
    }
    .benefits-wrap {
      order: 4;
    }

    + .product {
      border-top: 1px solid $gray-light;
      margin-top: 15px;
      padding-top: 15px;
    }
  }

  .product-image {
    margin-bottom: 25px;
    img {
      width: 150px;
      margin: 0 auto;
    }
  }
  .product-info {
    clear: left;
    h3 {
      font-weight: 200;
      margin-bottom: 15px;
      @include headingStyle();
      a {
        color: $black;
        &:hover {
          text-decoration: none;
          color: $brand-primary;
        }
      }
    }
    .reviews {
      margin-bottom: 15px;
    }
  }
  .product-sizes {
    ul {
      padding-left: 20px;
    }
    strong {
      text-transform: uppercase;
      border-bottom: 1px solid $black;
    }
  }
  .product-links {
    text-align: center;
    .btn {
      display: block;
    }
  }
  .benefits-wrap {
    text-align: center;
    margin: 0 auto;
  }
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .page-template-template-categories {

    /****** Hero ******/

    .hero {
      padding-top: 100px;
      padding-bottom: 100px;
    }

    .hero-inner {
      display: flex;
      justify-items: center;
      align-items: center;
      min-height: 250px;
      max-width: 550px;
    }
    .hero-content {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      h2 {
        font-size: $font-size-h1;
      }
    }

    /****** Category Intro ******/
    .category-intro {
      background-size: cover !important;
      overflow-x: hidden;
      padding-top: 50px;
      padding-bottom: 75px;
      .category-header {
        margin-top: 0;
        margin-right: -90000px;
        padding-right: 90000px;
        h1 {
          text-align: left;
          padding-left: 10px;
        }
      }
      .category-image {
        width: 325px;
        height: 325px;
      }
    }

    .product {
      .row {
        display: block;
      }
      + .product {
        margin-top: 0;
        padding-top: 25px;
      }
    }

    .product-info,
    .product-image {
      margin-bottom: 25px;
    }

    .product-image {
      img {
        width: 225px;
      }
    }
    .product-info {
      clear: none;
    }

    .product-sizes {
      ul {
        padding-left: 15px;
      }
    }
    .product-links {
      text-align: left;
      clear: left;
      .btn {
        display: inline-block;
      }
    }
    .benefits-wrap {
      margin: 25px 0 50px;
      text-align: left;
    }
    .product-benefits {
      background: $black;
      padding: 5px 0;
      li {
        display: inline-block;
        padding: 0 15px;
      }
    }
  }
} // 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .page-template-template-categories {

    .hero-inner {
      min-height: 300px;
      padding: 25px;
    }

    .category-intro {
      padding-top: 100px;
      padding-bottom: 150px;

      .category-image {
        width: 425px;
        height: 425px;
      }
    }

    .product-sizes {
      margin-top: 25px;
    }
  }

} // 992+
/******************************************************************************
========================> 1200+
*******************************************************************************/

@media(min-width: $screen-lg) {

  .page-template-template-categories {

    .hero {
      padding-top: 150px;
      padding-bottom: 150px;
    }

    .hero-inner {
      min-height: 300px;
      min-width: 700px;
    }

    .category-intro {
      .category-image {
        width: 500px;
        height: 500px;
      }
    }

    .product-links {
      margin-top: 25px;
      clear: none;
    }
    .product-benefits {
      margin-top: 0;
    }
  }


} // 1200+
