.single-products #where-to-buy {

  /****** SKU Nav ******/
  .wtb-sku-tabs {
    border: none;
    display: inline-block;
    background: transparent;
  }
  $sku_tab_border: 5px;
  .sku-nav-tab {
    text-align: center;
    margin: 10px;
    width: auto;
    a {
      color: $black;
      height: auto;
      border: none;
      border-bottom: $sku_tab_border solid white;
      display: block;
      position: relative;
      z-index: 1;
      &:hover {
        text-decoration: none;
      }
    }
    &.active {
      a {
        border-color: $gray;
      }
    }
    img {
      display: none;
    }
  }
  // sku nav tabs
  /****** SKU Retailer list ******/
  $retailer_padding: 5px;
  $retailer_height: 65px;
  $retailer_width: (125px - $retailer_padding);
  .sku-retailer-list {
    margin-top: 25px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .sku-retailer {
    padding: $retailer_padding;
    a {
      border: 1px solid $gray-light;
      width: $retailer_width;
      height: $retailer_height;
      padding: $retailer_padding;
      display: flex;
      align-content: center;
      justify-content: center;
      position: relative;
      img {
        max-height: ($retailer_height - ($retailer_padding * 4));
        width: auto;
        align-self: center;
      }
      &:hover {
        .buy {
          opacity: 1;
        }
      }
    }
    .buy {
      position: absolute;
      bottom: 0;
      width: 100%;
      background: $gray;
      text-align: center;
      padding: 5px;
      font-size: $font-size-small;
      color: $white;
      opacity: 0;
      @include transition(all, .125s);
    }
  }




}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .single-products #where-to-buy {

    /****** SKU Nav ******/
    .wtb-sku-tabs {
      border: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      background: transparent;
    }
    $sku_tab_border: 5px;
    $sku_tab_height: 270px;
    $sku_tab_width: 200px;
    $sku_footer: 50px;
    .sku-nav-tab {
      text-align: center;
      margin: 10px;
      a {
        color: $white;
        background: $black;
        width: $sku_tab_width;
        height: $sku_tab_height;
        border: $sku_tab_border solid white;
        display: block;
        position: relative;
        z-index: 1;
        padding-bottom: $sku_footer;
        &:hover {
          text-decoration: none;
        }
        &::after {
          content: "\f0d7";
          font-family: FontAwesome;
          font-size: 35px;
          display: block;
          position: absolute;
          bottom: -20px;
          left: 50%;
          margin-left: -10px;
          line-height: normal;
          color: $black;
          z-index: 2;
        }
      }
      &.active {
        a {
          border-color: $gray;
          &::before {
            content: "\f0d7";
            font-family: FontAwesome;
            font-size: 50px;
            display: block;
            position: absolute;
            bottom: -33px;
            left: 50%;
            margin-left: -14px;
            line-height: normal;
            color: $gray;
            z-index: 1;
          }
        }
      }
      .thumbnail-image {
        position: absolute;
        bottom: $sku_footer;
        left: 0;
        width: 100%;
      }
      img {
        margin: 0 auto;
        max-height: ($sku_tab_height - $sku_footer - 20px);
        width: auto;
        display: block;
      }
      .sku-info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
      }
    }
    // sku nav tabs

    /****** SKU Retailer list ******/
    $retailer_padding: 15px;
    $retailer_height: 140px;
    $retailer_width: (270px - $retailer_padding);
    .sku-retailer-list {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .sku-retailer {
      padding: $retailer_padding;
      a {
        border: 1px solid $gray-light;
        width: $retailer_width;
        height: $retailer_height;
        padding: $retailer_padding;
        display: flex;
        align-content: center;
        justify-content: center;
        position: relative;
        img {
          max-height: ($retailer_height - $retailer_padding);
          width: auto;
          // fix image stretching
          align-self: center;
          // fix ie 11 overflow
          flex: none;
        }
        &:hover {
          .buy {
            opacity: 1;
          }
        }
      }
      .buy {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $gray;
        text-align: center;
        padding: 5px;
        font-size: $font-size-small;
        color: $white;
        opacity: 0;
        @include transition(all, .125s);
      }
    }

  }

} // 768+
