.page-template-template-where-to-buy {

  header.navbar {
    margin-bottom: 0;
  }

  .page-header {
    @extend .sr-only;
  }

  /**********************************
  =======> Upper Section (select cat)
  ***********************************/
  .wtb-nav-wrap {
    background: $black;
    color: $white;
    text-align: center;
    padding-bottom: 50px;
  }
  .wtb-nav-header {
    margin-bottom: 25px;
  }
  .header-content {
    max-width: $container-sm;
    margin: 0 auto 25px;
  }
  .wtb-category-list {

    $box: 150px;
    $border: 5px;
    $hover_border: 2px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      width: ($box - $border);
      height: ($box - $border);
      padding: 0;
      margin-bottom: 5px;
      a {
        width: 100%;
        height: 100%;
        position: relative;
        text-align: center;
        color: $white;
        border-width: $border;
        border-style: solid;
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &:hover,
        &:active,
        &:focus {
          text-decoration: none;
        }
        &.collapsed {
          border: $hover_border solid $gray-dark;
          padding: ($border - $hover_border);
          h3 {
            background: none;
          }
          &::after {
            display: none;
          }
        }
        .thumbnail-image {
          height: 85px;
        }
        img {
          max-height: 100%;
          width: auto;
          margin: 0 auto;
        }
        h3 {
          @include headingStyle();
          font-size: 12px;
          margin: 0;
          padding: 10px 0;
        }
      }
      // a
    }
    // li
  }
  // cat list
  /**********************************
  =======> Lower Section
  ***********************************/
  .wtb-lower {

    /****** Product List (level 1) ******/

    .product-list {
      margin-bottom: 0;
    }
    // groups of products
    .product-panel-group {
      margin-bottom: 0;
      padding: 50px 0 0;
    }
    // Product names
    .panel-heading {
      border-bottom-color: $black;
      padding: 25px 0;
    }
    // product info (choose a size)
    .product-panel {
      text-align: center;
      border-top: 1px solid $black;

      .panel-title {
        a {
          font-size: $font-size-h3;
          @include headingStyle();
          text-transform: capitalize;
          position: relative;
          padding: 50px 0;
          display: block;
          &:hover,
          &:active {
            text-decoration: none;
          }

          &::before {
            content: "\002b";
            line-height: 30px;
            font-size: 30px;
            width: 60px;
            height: 30px;
            background: $gray;
            color: $white;
            display: block;
            position: absolute;
            top: -55px;
            left: 50%;
            margin-left: -30px;
            z-index: 2;
          }
          &::after {
            content: "\f0d7";
            font-family: FontAwesome;
            font-size: 35px;
            display: block;
            position: absolute;
            top: -40px;
            left: 50%;
            margin-left: -10px;
            line-height: normal;
            color: $gray;
            z-index: 2;
          }
        }
      }
      .panel-body {
        border-top: none;
        position: relative;
        padding-bottom: 50px;
        .panel-footer {
          position: relative;
          margin-top: 50px;
          a {
            color: $white;
            text-transform: uppercase;
            &::before {
              content: "\f0d8";
              font-family: FontAwesome;
              font-size: 35px;
              display: block;
              position: absolute;
              top: -23px;
              left: 50%;
              margin-left: -10px;
              line-height: normal;
              color: $gray;
              z-index: 2;
            }
          }
        }
      }
    }
    // product panel

    /****** SKU Nav ******/
    .wtb-sku-tabs {
      border: none;
      display: inline-block;
      background: transparent;
    }
    $sku_tab_border: 5px;
    .sku-nav-tab {
      text-align: center;
      margin: 10px;
      width: auto;
      a {
        color: $black;
        height: auto;
        border-bottom: $sku_tab_border solid white;
        display: block;
        position: relative;
        z-index: 1;
        &:hover {
          text-decoration: none;
        }
      }
      &.active {
        a {
          border-color: $gray;
        }
      }
      img {
        display: none;
      }
    }
    // sku nav tabs

    /****** SKU Retailer list ******/
    $retailer_padding: 5px;
    $retailer_height: 65px;
    $retailer_width: (125px - $retailer_padding);
    .sku-retailer-list {
      margin-top: 25px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .sku-retailer {
      padding: $retailer_padding;
      a {
        border: 1px solid $gray-light;
        width: $retailer_width;
        height: $retailer_height;
        padding: $retailer_padding;
        display: flex;
        align-content: center;
        justify-content: center;
        position: relative;
        img {
          max-height: ($retailer_height - ($retailer_padding * 4));
          width: auto;
          align-self: center;
        }
        &:hover {
          .buy {
            opacity: 1;
          }
        }
      }
      .buy {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: $gray;
        text-align: center;
        padding: 5px;
        font-size: $font-size-small;
        color: $white;
        opacity: 0;
        @include transition(all, .125s);
      }
    }
  }
  // wtb lower
}

/******************************************************************************
========================> 768+
*******************************************************************************/

@media(min-width: $screen-sm) {

  .page-template-template-where-to-buy {
    /**********************************
    =======> Upper Section (select cat)
    ***********************************/
    .wtb-nav-wrap {
      background: $black;
      color: $white;
      text-align: center;
      padding-bottom: 50px;
    }
    .wtb-nav-header {
      margin-bottom: 25px;
    }
    .header-content {
      max-width: $container-sm;
      margin: 0 auto 25px;
    }
    .wtb-category-list {

      $box: 175px;
      $border: 5px;
      $hover_border: 2px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        width: ($box - $border);
        height: ($box - $border);
        padding: 0;
        a {
          width: 100%;
          height: 100%;
          position: relative;
          text-align: center;
          color: $white;
          border-width: $border;
          border-style: solid;
          padding-bottom: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &:hover,
          &:active,
          &:focus {
            text-decoration: none;
          }
          &::after {
            content: "";
            font-family: FontAwesome;
            content: "\f0d7";
            font-size: 35px;
            bottom: -32px;
            left: 50%;
            margin-left: -10px;
            display: block;
            position: absolute;
          }
          &.collapsed {
            border: $hover_border solid $gray-dark;
            padding: ($border - $hover_border);
            h3 {
              background: none;
            }
            &::after {
              display: none;
            }
          }
          .thumbnail-image {
            height: 115px;
          }
          img {
            max-height: 100%;
            width: auto;
            margin: 0 auto;
          }
          h3 {
            @include headingStyle();
            font-size: 14px;
            margin: 0;
            padding: 10px 0;
          }
        }
        // a
      }
      // li
    }
    // cat list

    /**********************************
    =======> Product List (lower)
    ***********************************/

    .wtb-lower {

      /****** Product List (level 1) ******/

      .product-list {
        margin-bottom: 0;
      }

      // Product names
      .panel-heading {
        border-bottom: none;
        padding-bottom: 50px;
      }

      /****** SKU Nav ******/
      .wtb-sku-tabs {
        border: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: transparent;
      }
      $sku_tab_border: 5px;
      $sku_tab_height: 270px;
      $sku_tab_width: 200px;
      $sku_footer: 50px;
      .sku-nav-tab {
        text-align: center;
        margin: 10px;
        a {
          color: $white;
          background: $black;
          width: $sku_tab_width;
          height: $sku_tab_height;
          border: $sku_tab_border solid white;
          display: block;
          position: relative;
          z-index: 1;
          padding-bottom: $sku_footer;
          &:hover {
            text-decoration: none;
          }
          &::after {
            content: "\f0d7";
            font-family: FontAwesome;
            font-size: 35px;
            display: block;
            position: absolute;
            bottom: -20px;
            left: 50%;
            margin-left: -10px;
            line-height: normal;
            color: $black;
            z-index: 2;
          }
        }
        &.active {
          a {
            border-color: $gray;
            &::before {
              content: "\f0d7";
              font-family: FontAwesome;
              font-size: 50px;
              display: block;
              position: absolute;
              bottom: -33px;
              left: 50%;
              margin-left: -14px;
              line-height: normal;
              color: $gray;
              z-index: 1;
            }
          }
        }
        .thumbnail-image {
          position: absolute;
          bottom: $sku_footer;
          width: 100%;
        }
        img {
          margin: 0 auto;
          max-height: ($sku_tab_height - $sku_footer - 20px);
          width: auto;
          display: block;
        }
        .sku-info {
          position: absolute;
          width: 100%;
          bottom: 0;
        }
      }
      // sku nav tabs

      /****** SKU Retailer list ******/
      $retailer_padding: 15px;
      $retailer_height: 140px;
      $retailer_width: (270px - $retailer_padding);
      .sku-retailer-list {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      .sku-retailer {
        padding: $retailer_padding;
        a {
          border: 1px solid $gray-light;
          width: $retailer_width;
          height: $retailer_height;
          padding: $retailer_padding;
          display: flex;
          align-content: center;
          justify-content: center;
          position: relative;
          img {
            max-height: ($retailer_height - $retailer_padding);
            width: auto;
            // fix image stretching
            align-self: center;
            // fix ie 11 overflow
            flex: none;
          }
          &:hover {
            .buy {
              opacity: 1;
            }
          }
        }
        .buy {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: $gray;
          text-align: center;
          padding: 5px;
          font-size: $font-size-small;
          color: $white;
          opacity: 0;
          @include transition(all, .125s);
        }
      }
    }
  }
  // end template
}

// 768+

/******************************************************************************
========================> 992+
*******************************************************************************/

@media(min-width: $screen-md) {

  .page-template-template-where-to-buy {

    .wtb-category-list {
      $box: 225px;
      $border: 5px;
      li {
        width: ($box - $border);
        height: ($box - $border);
        a {
          .thumbnail-image {
            height: 165px;
          }
          h3 {
            font-size: 18px;
          }
        }
      }
    }
  }
}
// 992+

